/* Estilos todos los productos */

.container-main{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 9rem;
  flex-direction: column;
}

.container-main2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 0.2rem;
  flex-direction: column;
}

.card-todosP {
    width: 90%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); /* Ajusta el tamaño mínimo de las tarjetas */
    gap: 20px; /* Espacio entre las tarjetas */
    box-sizing: border-box;
    margin-bottom: 4rem;
  }

  .cardP {
    display: contents;
     /* Permite que las tarjetas se posicionen correctamente dentro del grid */
  }

  .cardP > * {
    width: 100%; /* Asegura que cada tarjeta ocupe el espacio completo asignado por el grid */
    box-sizing: border-box;
    /* background-color: aqua; */
  }

  .cardP img {
    width: 250px;
    height: 250px;
  }

  .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
    padding-bottom: 1rem;
  }
  .container-main .title, .container-main2 .title{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
  }