.home {
  margin: 6vh auto 0;
  margin-top: 250px;
  max-width: 90%;
  height: 50vh;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: crimson;
}

.container_home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.img1 img,
.img2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.img1 img {
  height: 7vh;
  margin-bottom: 3vh;
}

.img2 img {
  margin-top: 1.5vh;
  height: 22vh;
  max-width: 30rem;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.titulo::before,
.titulo::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: black;
}

.titulo::before {
  left: 0;
  width: 42%;
}

.titulo::after {
  right: 0;
  width: 42%;
}

.sectionCategory {
  margin-top: 2vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  border: 1px solid palevioletred;
  background-color: #f0f0f0;
  align-items: center;
}

.cardCategory {
  width: 24.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
