.home {
  margin: 6rem 1rem 0;
  max-width: 100vw;
  height: 50rem;
  max-height: 90vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.container_home {
  display: flex;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.img1,
.img2 {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
