/* Estilos Base (Mobile-First) */
.home {
  padding-top: 4rem;
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins";
  box-sizing: border-box;
  align-items: center;
}

/* Estilos RESERVATION CALENDAR */

.container_reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  background-color: #0b79cd;
  height: 100px;
  margin: 2rem;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.container_reservation .title {
  font-weight: bold;
  font-size: x-large;
  color: #f0f0f0;
}

.container_calendar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  width: 70%;
  height: 30%;
}

.textCategory {
  margin-right: 0.5rem;
  position: relative;
}

.Button {
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 1rem;
  color: rgba(0, 0, 0, 0.26);
  font-weight: 620;
}

.menu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu h4 {
  margin: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.menu h4:hover {
  background-color: #bdc3fb;
}

.textBuscar {
  margin-left: 0.5rem;
}

.textBuscar .btnBuscar {
  width: 100%;
  height: 100%;
  padding: 0 2rem;
  color: white;
  font-weight: bold;
}

/* Estilos HOME */

.container_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 1.5rem auto;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.img1,
.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.img1 img,
.img2 img {
  width: 100%;
  object-fit: contain;
}

.img1 img {
  height: 5rem;
  margin-bottom: 1.5rem;
}

.img2 img {
  height: 10rem;
  width: auto;
  margin-top: 1rem;
}

/* Estilos para .titulo */
.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

.titulo::before,
.titulo::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  background-color: black;
}

.titulo::before {
  left: 0;
  width: 25%;
}

.titulo::after {
  right: 0;
  width: 25%;
}

h2 {
  background-color: white;
  padding: 0 10px;
  z-index: 1;
}

/* Estilos para .sectionCategory */
.sectionCategory {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: center;
}

.cardCategory {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Estilos de CardProducts */
.cardProductsColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.cardProductsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.producto {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.45);
  padding-bottom: 1%;
}

.producto img {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

/* Media Queries para Tablets y Desktop */
@media (min-width: 768px) {
  .cardProductsColumn {
    width: 45%;
  }

  .producto {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .home {
    padding-top: 0;
    margin-top: 6rem;
  }

  .container_reservation {
    height: 120px;
    margin: 2rem auto;
  }

  .container_home {
    flex-direction: row;
    height: 379px;
    margin: 0.2rem auto 2rem auto;
  }

  .img1 img {
    height: 7rem;
    margin-bottom: 3rem;
  }

  .img2 img {
    height: 22rem;
    width: 30rem;
    margin-top: 1.5rem;
  }

  .sectionCategory {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .cardCategory {
    width: 33%;
    margin-bottom: 0;
  }

  .titulo::before,
  .titulo::after {
    width: 42%;
  }

  h2 {
    padding: 0 20px;
  }

  .cardProductsContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .cardProductsColumn {
    width: 45%;
  }

  .producto {
    width: 80%;
  }
}