body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.reservation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Hace que la card esté centrada verticalmente */
  padding: 20px;
  margin-top: 60px; /* Ajusta este valor según la altura de tu encabezado */
}

.reservation-content {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.reservation-details {
  text-align: left;
}

.product-name {
  margin-bottom: 10px;
  color: #333;
}

.product-description {
  margin-bottom: 20px;
  color: #666;
}

.product-info {
  margin-bottom: 15px;
  font-size: 16px;
  color: #333;
}

.confirmed-address {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.no-product,
.no-user {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
  color: #666;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .reservation-container {
    margin-top: 80px; /* Ajusta este valor si es necesario */
    padding: 10px;
  }

  .reservation-content {
    padding: 15px;
  }

  .product-info {
    font-size: 14px;
  }

  .confirmed-address {
    font-size: 14px;
  }
}
