.footer {
  width: 100%;
  background-color: crimson;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 20px;
  z-index: 2;
  
}

.footer-content {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; /* Alineamos a la izquierda */
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .footer-content {
    width: 100%;
    padding: 0 20px;
  }

  .footer-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-left: 10px;
    width: 50%;
  }
}
