body, html {
  margin: 0;
  padding: 0;
  background-color: #fff; /* Asegurar que el fondo sea completamente blanco */
  height: 100%; /* Asegurar que el cuerpo y el html ocupen toda la altura */
}

.containerLogin {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinear el contenido al principio */
  min-height: 100vh; /* Usar toda la altura de la pantalla */
  background: transparent; /* Eliminar el fondo gris */
  padding-top: 300px; /* Aumentar el espacio superior */
}

.paper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.avatar {
  margin: 8px;
  background-color: #dc004e;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%; /* Fija el ancho del formulario */
  margin-top: 8px;
}

.submit-button {
  margin-top: 16px;
  margin-bottom: 8px;
}
